* {
    font-family: "Vecna", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo_container {
    margin: 15px;
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

.search_container {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
}

.search_input {
    border: none;
    outline: none;
    flex: 1;
}

.search_button:hover {
    background-color: #0062cc;
}
.navbar_links {
    display: flex;
    height: 35px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #323232;
}

nav ul {
    display: flex;
    list-style: none;

    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #007bff;
}
